body {
  /*background-color: #f5f5dc;*/
  background: #FFFFFF;
}


h1, h2, p {
  font-family: 'Raleway', sans-serif;
}

.web-developer {
  color: rgb(120,255,239);
  font-size: 90px;
  font-weight: bold;
}
