body {
  /*background-color: #f5f5dc;*/
  background: #FFFFFF;
}


h1, h2, p, a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

a {
  color: black;
}

.web-developer {
  /*color: rgb(120,255,239);*/
  color: rgb(255, 0, 255);
  font-size: 85px;
  font-weight: bold;
  padding-left: 30px;
  margin-top: -130px;
}

.nav-text {
  font-size: 26px;
}

.projects {
  font-weight: bold;
  font-size: 40px;
  padding-left: 30px;
  color: rgba(0,0,0,.7);
}

.brand-statement-photo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -80px;
  /*width: 98%;*/
  line-height: 1.5;
}

.brand-statement {
  margin-right: 50px;
  color: rgba(0,0,0,.7);
  width: 700px;
}

.about-image {
  /*width: 30%;*/
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 110px;
  max-width: 100%;
}

nav {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.nav-container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  /*padding-right: 20px;*/
}

.git-hub, .email, .linkedin {
  margin: 5px;
}

.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-image {
  width: 500px;
}

.project-items, .project-links {
  width: 500px;
  line-height: 1.4;
  max-width: 100%;
}

.individual-projects {
  margin: 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 1px black solid;*/
}

.line-break {
  border-top: 2px solid rgb(255, 0, 255);
  margin-bottom: 10px;
  margin-top: -15px;
}

.project-title {
  text-align: center;
}

.technology-container {
  display: flex;
  justify-content: center;
}

.technology {
  font-family: 'Raleway', sans-serif;
  border: 1px black solid;
  /*border: 1px rgb(255, 0, 255) solid;*/
  margin: 5px;
  padding: 5px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
}

.contact-footer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .projects-container, .nav-container, .technology-container, .contact-footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .web-developer {
    font-size: 200%;
    margin-top: auto;
  }
}

@media screen and (max-width: 480px) {
  .brand-statement-photo-container {
    margin-top: auto;
  }
}

@media screen and (max-width: 480px) {
  .about-image {
    margin-right: auto;
  }
}
