body {
  /*background-color: #f5f5dc;*/
  background: #FFFFFF;
}


h1, h2, p, a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

a {
  color: black;
}
/*
img {
  width: 250px;
}*/

.web-developer {
  /*color: rgb(120,255,239);*/
  color: rgb(255, 0, 255);
  font-size: 90px;
  font-weight: bold;
  padding-left: 30px;
  margin-top: -130px;
}

.projects {
  font-weight: bold;
  font-size: 40px;
  padding-left: 30px;
  color: rgba(0,0,0,.7);
}

.name {
  padding-left: 110px;
  padding-top: 80px;
}

/*.brand-statement {
  padding-left: 110px;
  padding-right: 110px;
  margin-top: -100px;
  color: rgba(0,0,0,.7);
  padding-bottom: 90px;
}*/

.brand-statement-photo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -100px;
  width: 98%;
  line-height: 1.5;
}

.brand-statement {
  margin-right: 50px;
  margin-left: -110px;
  color: rgba(0,0,0,.7);
  width: 700px;
}

.about-image {
  /*width: 30%;*/
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

nav {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.nav-container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.git-hub {
  margin-left: 20px;
  margin-right: -40px;
}

.email {
  margin-left: -120px;
}

.linkedin {
  margin-left: -240px;
}

.nav-text {
  margin-right: 250px;
  /*padding-left: 20px;
  padding-right: 20px;*/
}

.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-image {
  width: 500px;
}

.project-items {
  width: 500px;
  line-height: 1.4;
}

.individual-projects {
  margin: 0 50px;
  /*display: flex;
  justify-content: center;
  flex-direction: column;*/
  /*padding: 0 10px;*/
}

/*.individual-projects:hover {
  background-color: rgba(255,0,255,.2)
}*/

.project-title {
  text-align: center;
}

.technology-container {
  display: flex;
  justify-content: center;
}

.technology {
  font-family: 'Raleway', sans-serif;
  border: 1px black solid;
  /*border: 1px rgb(255, 0, 255) solid;*/
  margin: 5px;
  padding: 5px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .project-container, . {
    flex-direction: column;
  }
}
